/* Extra small devices (portrait phones, less than 576px)*/
@media(max-width: 575px) { 
/*header start*/
.c_logo{
	width: 80%;
}
.c_menu ul{
	margin-left: 0;
}
/*banner start*/
.b_h1{
	font-size: 27px;
}
.b_p{
	padding-right: 0;
}
/*card start*/
.card{
	background-position: center;
}
.c_p{
	padding: 0 ;
}
.t_p {
    padding: 0 20px;
}
.c_h2{
	margin-top: 50px;
}
.c_content{
	margin-bottom: 60px;
}
.c_h2{
	font-size: 40px;
}
.t_h2 {
    font-size: 38px;
}
/*title start*/
.title {
    background-position: top right;
}
.t_img img {
    margin: 60px 0 0 0 !important;
}
.t_content{
	text-align: center;
	margin: 70px 0 !important;
}
.o_p{
	margin: 25px 0 30px 0 !important;
	padding:0 0;
	text-align: center;
} 
/*static start*/
.s_p{
	padding: 0;
}
.s_item{
	margin-bottom: 70px;
	border-radius: 100%;
}
.item_h2{
	margin: 100px 0 10px 0 !important;
}
.item_h3{
	margin: 0 0 100px 0 !important;	
}
/*title-2 start*/
.t_text{
	margin: 180px 0;
	text-align: center;
}
.t-2_h1{
	font-size: 40px;
}
.t-2_p{
	padding: 0 0px;
}  
.t2_img img{
	display: none;
} 
.sub_p{
	padding: 0;
	margin: 30px 0 !important;
}
/*title-3 start*/
.t3_p{
	padding:0;
}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
	/*header start*/
.c_logo{
	width: 80%;
}
.c_menu ul{
	margin-left: 0;
}
/*banner start*/
.b_h1{
	font-size: 38px;
}
.b_p{
	padding-right: 200px;
}
/*card start*/
.card{
	background-position: center;
}
.c_p{
	padding: 0 50px;
}
.t_p {
    padding: 0 150px;
}
.c_h2{
	margin-top: 50px;
}
.c_content{
	margin-bottom: 70px;
}
.c_h2{
	font-size: 40px;
}
/*title start*/
.title {
    background-position: top right;
}
.t_img img {
    margin: 80px 0 0 0 !important;
}
.t_content{
	text-align: center;
	margin: 80px 0 !important;
}
.o_p{
	margin: 30px 0 35px 0 !important;
	padding:0 100px ;
	text-align: center;
}
/*static start*/
.s_p{
	padding: 0 50px;
}
.s_item{
	margin-bottom: 80px;
}
.item_h2{
	margin: 150px 0 10px 0 !important;
}
.item_h3{
	margin: 0 0 150px 0 !important;	
}
/*title-2 start*/
.t_text{
	margin: 180px 0;
	text-align: center;
}
.t-2_p{
	padding: 0 100px;
}
/*sub start*/
.sub_p{
	padding: 0;
	margin: 30px 0 !important;
}	
/*title-3 start*/
.t3_p{
	padding: 0 50px;
}
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
/*header start*/
.c_logo{
	width: 80%;
}
.i_menu[data-bs-popper] {
    top: -50%;
    left: 80px;
}
.c_menu ul{
	margin-left: 0;
}
.b_h1{
	font-size: 40px;
}
.b_p {
    padding-right: 350px;
}
/*card start*/
.card{
	background-position: center;
}
.c_p{
	padding: 0 130px;
}
.t_p {
    padding: 0 220px;
}
.c_h2{
	margin-top: 70px;
}
.c_content{
	margin-bottom: 90px;
}
/*title start*/
.title {
    background-position: top right;
}
.t_img img {
    margin: 190px 0;
}
.t_content{
	margin: 170px 0;
}
.o_p{
	margin: 30px 0 35px 0 !important;
	padding-right: 0;
}
/*static start*/
.s_p {
    padding: 0 150px;
}
.s_item{
	margin-bottom: 100px;
}
.item_h2{
	margin: 150px 0 10px 0 !important;
}
.item_h3{
	margin: 0 0 150px 0 !important;	
}
/*title-2 start*/
.t-2_p{
	padding-right: 390px;
}	
/*title-2 start*/
.t_text{
	text-align: center;
}
.t-2_p{
	padding: 0 100px;
}
/*sub start*/
.sub_p{
	padding: 0 150px;
}
/*title-3 start*/
.t3_p{
	padding: 0 100px;
}	
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
/*banner start*/
.b_h1{
	font-size: 40px;
}
.b_p{
	padding-right: 100px;
}
/*card start*/
.c_p{
	padding: 0 250px;
}
.t_p {
    padding: 0 20px;
}
/*title start*/
.title{
	background-position: top right;
}
/*title-2 start*/
.t2_img img{
	margin-top: 270px;
}
.o_p{
	margin: 30px 0  35px 0 !important;
	padding-right: 100px;
}
/*static start*/
.s_p {
    padding: 0 250px;
}
/*sub start*/
.sub_p{
	padding: 0 250px;
}
/*title-3 start*/
.t3_p{
	padding: 0 250px;
}	

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width:1399px) {
/*banner start*/
.b_p{
	padding-right: 200px;
}	
}
/* Extra Extra large devices (large desktops, 1400px and up)*/
@media (min-width:1400px){
/*title start*/
.o_p{
	padding-right: 290px;
}	
/*card start*/
.c_p{
	padding: 0 450px;	
}
.t_h2{
	font-size: 45px;
}
/*title-2 start*/
.t-2_p{
	padding-right: 290px;
}	
/*sub start*/
.sub_p{
	padding: 0 350px;
}
/*title-3 start*/
.t3_p{
	padding: 0 420px;
}	
}